"""
Copyright (c) 2020-2021 leboncoin
MIT License
Written by Nicolas BEGUIER (nicolas.beguier@adevinta.com)
"""

def extra_metadata(csp_report, request):
    """
    Returns csp_report with extra metadata
    """
    csp_report['client_ip'] = request.remote_addr
    return csp_report
